.additional-product__section-wrapper {
  padding: 25px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 68px 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 86px;
  }
}

.additional-product__item {
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
  }
}

.additional-product__title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-left: 38px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-product__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }
}

.additional-product__special {
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
