.advantages__title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
