.button {
  display: block;
  font-family: var(--second-font);
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  padding: 7px 44px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;

  &--modifier {
    background-color: #f2f2f2;
    color: #444444;
  }
}

