.button {
  display: block;
  font-family: var(--second-font);
  background-color: var(--basic-color);
  color: var(--main-color);
  text-align: center;
  padding: 7px 44px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;

  &--modifier {
    background-color: var(--special-light-color);
    color: var(--special-deep-color-medium);
  }
}

