.catalog-page {
  font-family: var(--second-font);
}

.catalog-page__title-wrapper {
  padding: 27px 0 41px;

  @media (min-width: $tablet-width) {
    padding: 39px 0 163px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0 165px;
  }
}

.catalog-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
