.characteristics {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--special-deep-color-medium);
  margin: 0;
}

.characteristics__value {
  margin: 0;
}

.characteristics__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
}
