.checkbox__label {
  color: var(--main-color-dark);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.checkbox__mark-control {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid var(--special-deep-color-light);
  margin-right: 16px;

  &:hover {
    border-color: var(--normal-color-grey);
  }


  @media (min-width: $tablet-width) {
    margin-right: 19px;
    width: 40px;
    height: 40px;
  }
}

.checkbox__control[type="checkbox"]:checked + .checkbox__mark-control::before {
  display: block;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;
    background-image: url("../img/tick-tablet.svg");
  }
}

.checkbox__control[type="checkbox"]:focus + .checkbox__mark-control {
  border-color: var(--special-deep-color-medium);
}

.checkbox__control[type="checkbox"]:disabled + .checkbox__mark-control {
  border-color: var(--normal-color-grey);
  opacity: 0.3;
  cursor: default;
}
