.copyright__link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 281px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link:hover .copyright__logo-htmlacademy {
  fill: var(--basic-color);
}

.copyright__link:active .copyright__logo-htmlacademy {
  fill: var(--basic-color);
  opacity: 0.3;
}

.copyright__label {
  font-size: 16px;
  line-height: math.div(18, 16);
  color: var(--special-deep-color-medium);

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-htmlacademy {
  display: block;
  fill: var(--special-deep-color-normal);
}
