.extra-product__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 325px 325px;
    align-items: center;
  }
}

.extra-product {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 651px 244px;
  }
}

.extra-product__title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--special-deep-color-dark);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-product__price {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1;
  color: var(--special-deep-color-medium);
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: math.div(20, 16);
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
