.extra-product__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 316px 316px;
  }
}

.extra-product {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra-product__title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--special-deep-color-dark);
  text-transform: uppercase;
}

.extra-product__price {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 14px;
  color: var(--special-deep-color-medium);
}
