.footer {
  background-color: var(--special-light-color);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 56px 0 55px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54px;
  }
}

.footer__logo {
  display: block;
  padding-top: 38px;
  padding-bottom: 32px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 3px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__logo-label {
  display: block;
}

.footer__social {
  padding: 19px 74px;
  border-top: 1px solid var(--special-deep-color-grey);
  border-bottom: 1px solid var(--special-deep-color-grey);

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__copyright {
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}
