
.form__field {
  border: none;
}

.form__field-label {
  color: #444444;
  text-transform: uppercase;
}

.form__field-value {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    color: #444444;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

.form__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    color: #444444;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__legend-fields {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
