
.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 65px 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form__wrapper-additionally {
  @media (min-width: $tablet-width) {
    padding: 0 37px 54px 40px;
  }
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 100%;

  &--bordered {
    padding: 22px 0 19px;
    border-top: 1px solid var(--special-deep-color-grey);
    border-bottom: 1px solid var(--special-deep-color-grey);

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      border: 1px solid var(--special-deep-color-grey);
      padding: 25px 28px;
    }
  }
}

.form__field-label {
  color: var(--special-deep-color-medium);
  text-transform: uppercase;
  display: block;
  margin-right: 12px;
}

.form__field-value {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  appearance: none;
  padding: 13px 10px 14px 15px;
  border: 1px solid var(--special-deep-color-clear);
  flex-grow: 1;

  &::placeholder {
    color: var(--special-deep-color-medium);
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 65px;
    padding: 0 39px;
  }
}

.form__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 150px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--special-deep-color-clear);

  &::placeholder {
    color: var(--special-deep-color-medium);
  }
}


.form__legend-fields {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  margin: 21px 0 32px;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  // padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 180px;
    column-gap: 80px;
  }
}

.form__field-wrapper {
  display: flex;
  min-width: 280px;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

