.form-page {
  font-family: var(--second-font);
  font-size: 16px;
  line-height: math.div(18, 16);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: math.div(30, 20);
  }
}


.form-page__header {
  display: block;
  padding: 27px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 35px 0 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0 36px;
  }
}

.form-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 54px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    margin-left: 0;
  }
}

.form-page__text {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: math.div(30, 20);
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 37px;
  }
}
