.goal__list {
  margin: 0;
  padding: 22px 0 19px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px solid var(--special-deep-color-grey);
    padding: 25px 28px;
  }
}

.goal__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.goal__line-wrapper {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: var(--special-deep-color-grey-bright);
    margin-left: calc(50% - 50vw);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    bottom: 0;
  }

  &::after {
    top: 0;
  }
}
