.header {
  font-family: var(--second-font);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // padding: 10px 0 18px 0;
  padding: 10px 0 0 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0;
  }
}

.header__logo {
  height: 38px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}
