.last-card {
  display: flex;
  flex-direction: column;
  padding: 25px 0;


  @media (min-width: $tablet-width) {
    background-color: var(--main-color);
    border: 2px solid var(--special-light-color);
    padding: 50px 35px 36px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 36px 39px 36px;
  }
}

.last-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-card__plus {
  width: 30px;
  height: 30px;
  margin-bottom: 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 15px;
    background-color: var(--special-deep-color-bright);

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 30px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}


.last-card__title {
  color: var(--special-deep-color);
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: math.div(22, 20);
    margin-bottom: 23px;
  }
}

.last-card__text {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: math.div(16, 12);
  color: var(--special-deep-color-medium);
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: math.div(18, 16);
    margin-bottom: 87px;
  }
}

.last-card__button {
  @media (min-width: $desktop-width) {
    padding: 10px 39px;
  }
}
