.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 190px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 174px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  // display: block;

  @media (min-width: $tablet-width) {
    width: 63px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 71px;
    height: 59px;
  }
}

.logo__label {
  display: block;

  @media (min-width: $tablet-width) {
    width: 101px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}
