.navigation {
  position: relative;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 18px;
  background-image: url("../img/burger-menu.svg");
}

.navigation--closed .navigation__toggle:active::before {
  opacity: 0.3;
}

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--main-color-dark);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.navigation__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
