.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  color: var(--main-color-dark);
  margin: 0;
  min-height: 100%;
}
