.price {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}
