
.product-cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 102px 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 109px 80px;
  }
}

.product-cards__item {
  padding: 18px 0 24px;

  &:last-child {
    align-self: end;
  }

  @media (min-width: $tablet-width) {
    padding: 0 38px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px 35px;
  }
}

.product-cards__line-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: var(--special-deep-color-grey-bright);
    margin-left: calc(50% - 50vw);
    bottom: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:first-child::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: var(--special-deep-color-grey-bright);
    margin-left: calc(50% - 50vw);
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
