.radio__label {
  color: var(--special-deep-color-dark);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}


.radio__mark-control {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--special-deep-color-light);
  margin-right: 16px;

  &:hover {
    border-color: var(--normal-color-grey);
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
}

.radio__control[type="radio"]:checked + .radio__mark-control::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-color);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.radio__control[type="radio"]:focus + .radio__mark-control {
  border-color: var(--special-deep-color-medium);
}

.radio__control[type="radio"]:disabled + .radio__mark-control {
  border-color: var(--normal-color-grey);
  opacity: 0.3;
  cursor: default;
}
