.slide__scale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--special-deep-color-normal);
  background-color: var(--main-color);
  padding: 0;
  cursor: pointer;


  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 256px;
    width: 4px;
    background-color: var(--special-deep-color-normal);
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-color: var(--special-deep-color-normal);
    mask-image: url("../img/slider-arrows.svg");
    mask-repeat: no-repeat;
  }

  &:hover {
    border-color: var(--basic-color);
  }

  &:active {
    border-color: var(--basic-color-dark-opacity);
  }
}

.slide__scale:hover::before,
.slide__scale:hover::after {
  background-color: var(--basic-color);
}

.slide__scale:active::before,
.slide__scale:active::after {
  background-color: var(--basic-color-dark-opacity);
}


.slide {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slide__images-before {
  margin: 0;
  display: flex;
  width: 140px;
  overflow: hidden;
}

.slide__images-after {
  margin: 0;
  display: flex;
  width: 140px;
  overflow: hidden;
  justify-content: flex-end;
}

.slide__image-after {
  display: block;
}
