.slide__scale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--special-deep-color-normal);
  background-color: var(--main-color);
  padding: 0;
  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 256px;
    width: 4px;
    border-radius: 2px;
    background-color: var(--special-deep-color-normal);
    z-index: -1;


    @media (min-width: $tablet-width) {
      height: 512px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-color: var(--special-deep-color-normal);
    mask-image: url("../img/slider-arrows.svg");
    mask-repeat: no-repeat;
  }

  &:hover {
    border-color: var(--basic-color);
  }

  &:active {
    border-color: var(--basic-color-dark-opacity);
  }
}

.slide__scale:hover::before,
.slide__scale:hover::after {
  background-color: var(--basic-color);
}

.slide__scale:active::before,
.slide__scale:active::after {
  background-color: var(--basic-color-dark-opacity);
}


.slide {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.slide__images-before {
  margin: 0;
  display: flex;
  width: 140px;
  overflow: hidden;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.slide__images-after {
  margin: 0;
  display: flex;
  width: 140px;
  overflow: hidden;
  justify-content: flex-end;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.slide__image-after {
  display: block;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slide__image-before {
  display: block;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}
