:root {
  --main-font: "Arial", sans-serif;
  --second-font: "Oswald", sans-serif;
  --main-color: #ffffff;
  --main-color-opacity: rgba(255, 255, 255, 0.5);
  --main-color-dark: #000000;
  --main-color-dark-opacity-1: rgba(0, 0, 0, 0.5);
  --main-color-dark-opacity-2: rgba(0, 0, 0, 0.3);
  --basic-color: #68b738;
  --basic-color-light: rgba(104, 183, 56, 0.85);
  --basic-color-dark: #5eaa2f;
  --special-light-color: #f2f2f2;
  --special-light-color-nornal: #eaeaea;
  --special-deep-color: #111111;
  --special-deep-color-dark: #222222;
  --special-deep-color-medium: #444444;
  --special-deep-color-medium-opacity: rgba(68, 68, 68, 0.3);
  --special-deep-color-normal: #666666;
  --special-deep-color-light: #cdcdcd;
  --special-deep-color-bright: #d3d3d3;
  --special-deep-color-clear: #e7e7e7;
  --special-deep-color-grey: #d9d9d9;
  --special-deep-color-grey-bright: #ebebeb;
  --special-deep-color-grey-neutral: #e6e6e6;
  --error-color: #ff8282;
}
