:root {
  --main-font: "Arial", sans-serif;
  --second-font: "Oswald", sans-serif;
  --main-color: #ffffff;
  --main-color-dark: #000000;
  --basic-color: #68b738;
  --basic-color-light: rgba(104, 183, 56, 0.85);
}
